html{
    font-size: 18px;
   
}

body{
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.container{
    @include responsive("extra-bigger-screen"){
        max-width: 1800px;
    }
}