.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 545px;
    font-family: var(--family-fraunces);
    font-weight: 900;
    background-image: url(img/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;

    @include responsive() {
        --header-color: #3ebfff;
        background-image: url(img/image-desktop-header.jpg);
    }
   


    &-heading {
        margin-block-end: 100px;
        text-align: center;
        color: var(--white);
        letter-spacing: 10px;

        @include responsive(){
        margin-block-end: 140px;

        }
    }

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    &-switch{
        @include responsive("desktop"){
            display: none;
        }
    }

    &-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 40px;
        position: absolute;
        z-index: 1;
        inset-block-start: 90px;
        background-color: var(--white);
        font-size: 1.2rem;
        transition: inset-block-start 1s;
        @include responsive("desktop"){
            padding: 0;
            padding-block-start: 10px;
            inset-block-start: 0;
            inset-inline-end: 40px;
            width: 80%;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
        }

        &-hidden {
            inset-block-start: -330px;
            @include responsive("desktop"){
                inset-block-start:0;
            }
        }

        &-link {
            font-family: var(--family-barlow);
            color: var(--dark-grayish-blue);
            margin-block-end: 35px;
            @include responsive("desktop"){
                margin-block-end: 0;
                margin-inline-end: 45px;
                color: var(--white);
                font-size: 1rem;
                opacity: 0.8;
            }
        }

        &-button {
            height: 70px;
            width: 170px;
            border-radius: 40px;
            background-color: var(--yellow);
            color: var(--desaturated-blue);
            cursor: pointer;
            @include responsive("desktop"){
                background-color: var(--white);
                font-weight: 900;
                font-size: 0.9rem;
                height: 55px;
                width: 135px;
                &:hover{
                    background-color: #6bd0ff;
                    color: var(--white);
                }
            }
        }
    }

    &-arrow-image {
        position: relative;
        inset-block-end: 110px;

        

        @include responsive() {

            inset-block-start: -200px;
            
            img {
                height: 80px;
            }
        }
    }


}