.showcase{
    font-family: var(--family-fraunces);
    
    &-item{

        img{
            width: 100%;
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            padding-block-end: 20px;
            padding-block-start: 20px;
            padding-inline-start: 15px;
            padding-inline-end: 15px;
            text-align: center;
        }

        &-header{
            font-weight: 900;
            margin-block-end: 35px;
        }

        &-text{
            font-family: var(--family-barlow);
            margin-block-end: 35px;
        }

        &-link{
            display: flex;
            justify-content: center;
            position: relative;
            text-transform: uppercase;
            color: var(--desaturated-blue);
            font-weight: 900;

            &-underline{
                &::after{
                    content:"";
                    position: absolute;
                    inset-block-start:12px;
                    width: 125px;
                    height: 8px;
                    opacity: 0.3;
                    background-color: var(--yellow);
                    z-index: -1;
                    border-radius: 10px;
                }
            }
        }

        &-1{

        }
        &-2{
            height: 450px;
            font-size: 0.9rem;
            padding-block-start: 50px;
            padding-inline:15px;
            color: var(--desaturated-blue);
            &-text{
                line-height: 1.6;
                color: var(--grayish-blue);
            }
        }
        &-3{

        }
        &-4{
            height: 450px;
            font-size: 0.9rem;
            padding-block-start: 50px;
            padding-inline:15px;
            color: var(--desaturated-blue);
            &-text{
                line-height: 1.6;
                color: var(--grayish-blue);
            }
        }
        &-5{
            display: flex;
            align-items: flex-end;
            height: 650px;
            font-size: 0.9rem;
            line-height: 1.5;
            background-image: url(img/image-graphic-design.jpg);
            background-size: 100% 100%;
            color: var(--desaturated-cyan);

            
        }
        &-6{
            display: flex;
            align-items: flex-end;
            height: 650px;
            font-size: 0.9rem;
            line-height: 1.5;
            background-image: url(img/image-photography.jpg);
            background-size: 100% 100%;
            color: var(--dark-blue);
            
        }

    }
}