.testimonials {

    &-wrapper {
        font-family: var(--family-barlow);
        display: flex;
        flex-direction: column;
        padding-block-start: 65px;
        padding-block-end: 20px;
        text-align: center;
        @include responsive("desktop"){
            padding-block-start: 140px;
            padding-block-end: 70px;
        }
       
    }

    &-header {
        font-family: var(--family-fraunces);
        font-weight: 900;
        color: var(--grayish-blue);
        text-align: center;
        margin-block-end: 70px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &-subjects {
        display: flex;
        flex-direction: column;
        @include responsive("desktop"){
            flex-direction: row;
        }
        @include responsive("bigger-desktop"){
            padding-inline: 120px;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-block-end: 70px;
            padding-inline: 25px;
            @include responsive("desktop"){
                padding-inline: 20px;
            }
        }

        &-avatar {
            width: 75px;
            margin-block-end: 35px;

            img {
                width: 100%;
                border-radius: 100%;
            }
        }

        &-text {
            margin-block-end: 40px;
            line-height: 1.5;
            color: var(--very-dark-grayish-blue);
        }

        &-name {
            font-family: var(--family-fraunces);
            font-weight: 900;
            margin-block-end: 10px;
            color: var(--desaturated-blue);
        }

        &-occupation {
            font-size: 0.8rem;
            color: var(--grayish-blue);
        }
    }

}